@import "../mixins.scss";

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @include resa("padding", 30px);
    @include resa("padding-top", 78px);
    @include resa("padding-bottom", 78px);
    position: relative;
}

.title {
    font-weight: 600;
    @include resa("font-size", 26px);
    @include resa("line-height", 32px);
    @include resa("margin-bottom", 10px);
}

.subtitle {
    font-weight: 500;
    @include resa("font-size", 14px);
    @include resa("line-height", 22px);
    color: #040415;
    opacity: 0.5;
    @include resa("margin-bottom", 24px);
}

.langs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @include resa("gap", 12px);
    width: 100%;
}

.lang {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include resa("gap", 10px);
    @include resa("padding", 15px);
    @include resa("border-radius", 18px);
    background-color: #3881ff0d;
    border: solid transparent;
    @include resa('border-width', 2px);
    transition: border 100ms;
    
    &.active {
        border: solid #3680ff;
        @include resa("border-width", 2px);
    }

    .pic {
        @include resa("width", 30px);
        @include resa("height", 30px);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .text {
        font-weight: 500;
        @include resa("font-size", 16px);
        @include resa("line-height", 20px);
    }
}

.next {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3680ff;
    color: white;
    @include resa("min-width", 315px);
    @include resa("height", 54px);
    position: absolute;
    left: 50%;
    @include resa("bottom", 44px);
    transform: translateX(-50%);
    @include resa("border-radius", 20px);
    font-weight: 600;
    @include resa("font-size", 17px);
}
