.mainDialog {
  width: 100%;
  max-width: 96%;
  left: 50%;
  bottom: 34px;
  top: auto;
  transform: translateX(-50%);
  border: none;
  outline: none;
  border-radius: 16px;
  transition: all .3s;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
    transition: all .3s;
  }
}
