@import "../../styles/mixins.scss";

.top {
  width: 100%;
  background-image: url("../../../public/home-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  @include resa("border-bottom-left-radius", 24px);
  @include resa("border-bottom-right-radius", 24px);
  @include resa("padding", 5px);
  @include resa("padding-top", 67px);
  @include resa("padding-bottom", 16px);
}

.topHeader {
  padding: 0;
  @include resa("padding-left", 20px);
  @include resa("padding-right", 20px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topHeaderProfile {
  @include resa("width", 46px);
  @include resa("height", 46px);
  background: #ffffff4d;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  h3 {
    font-weight: 600;
    @include resa("line-height", 28px);
    @include resa("font-size", 24px);
    text-align: center;
    color: #ffffff;
  }
  span {
    @include resa("width", 16px);
    @include resa("height", 16px);
    position: absolute;
    left: 0;
    bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.topHeaderNotification {
  @include resa("width", 22px);
  @include resa("height", 22px);
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.content {
  @include resa("margin-top", 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentHeader {
  display: flex;
  align-items: center;
  @include resa("gap", 8px);
  svg {
    @include resa("width", 16px);
    @include resa("height", 16px);
  }
  h3 {
    @include resa("line-height", 20px);
    @include resa("font-size", 14px);
    color: #ffffff;
    font-weight: 600;
    opacity: 0.5;
  }
}

.contentBalance {
  @include resa("margin-top", 6px);
  @include resa("line-height", 38px);
  @include resa("font-size", 34px);
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ffffff;
}

.contentProfit {
  @include resa("margin-top", 6px);
  display: flex;
  align-items: center;
  @include resa("gap", 8px);
  @include resa("padding-top", 4px);
  @include resa("padding-bottom", 5px);
  @include resa("padding-left", 6px);
  @include resa("padding-right", 10px);
  @include resa("border-radius", 12px);
  background: #3e23971f;
  svg {
    @include resa("width", 17px);
    @include resa("height", 16px);
  }
}

.contentProfitIcon {
  display: flex;
  align-items: center;
  @include resa("gap", 4px);
}

.contentProfitTitle {
  font-weight: 500;
  @include resa("line-height", 20px);
  @include resa("font-size", 14px);
  text-align: left;
  color: #ffffff;
}

.contentProfitLine {
  @include resa("width", 1px);
  @include resa("height", 14px);
  background-color: #ffffff;
  opacity: 0.2;
}

.contentText {
  @include resa("margin-top", 10px);
  @include resa("line-height", 16px);
  @include resa("font-size", 13px);
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.bottom {
  @include resa("margin-top", 16px);
  @include resa("min-height", 74px);
  width: 100%;
  box-shadow: 0px 4px 32px 0px #5b538129;
  background-color: #ffffff;
  @include resa("border-radius", 20px);
  display: flex;
  @include resa("gap", 14px);
  align-items: center;
  justify-content: space-between;
  @include resa("padding", 15px);
}

.bottomTexts {
  display: flex;
  flex-direction: column;
  @include resa("gap", 8px);
  & > h3 {
    font-weight: 600;
    @include resa("line-height", 20px);
    @include resa("font-size", 16px);
    text-align: left;
    color: #040415;
    @include resa("letter-spacing", -0.19px);
  }
  & > p {
    @include resa("line-height", 16px);
    @include resa("font-size", 13px);
    font-weight: 500;
    text-align: left;
    color: #040415;
    opacity: 0.5;
  }
}

.bottomArrow {
  @include resa("width", 12px);
  @include resa("height", 12px);
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.goal {
  background-color: #f5f7fa;
  @include resa("min-height", 499px);
  @include resa("padding-bottom", 100px);
}

.goalEmpty {
  @include resa("padding-top", 64px);
  @include resa("padding-bottom", 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include resa("gap", 20px);
}

.goalEmptyIcon {
  @include resa("width", 32px);
  @include resa("height", 32px);
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.goalEmptyTexts {
  display: flex;
  flex-direction: column;
  @include resa("gap", 10px);
  & > h3 {
    font-weight: 600;
    @include resa("line-height", 24px);
    @include resa("font-size", 20px);
    text-align: center;
    color: #040415;
  }
  & > p {
    font-weight: 500;
    @include resa("line-height", 20px);
    @include resa("font-size", 14px);
    text-align: center;
    color: #040415;
    @include resa("max-width", 315px);
    opacity: 0.5;
  }
}

.goalHeader {
  @include resa("padding-left", 14px);
  @include resa("padding-top", 14px);
  @include resa("padding-bottom", 14px);
}

.headerList {
  display: flex;
  align-items: center;
  @include resa("gap", 10px);
  overflow-x: scroll;
  @include resa("padding-top", 2px);
  @include resa("padding-bottom", 2px);
  @include resa("padding-right", 16px);
  @include resa("padding-left", 2px);
  &::-webkit-scrollbar {
    display: none;
  }
}

.headerListItem {
  outline-color: #6f49fe;
  outline-style: solid;
  @include resa("outline-width", 1px);
  @include resa("border-radius", 20px);
  @include resa("padding", 3px);
  @include resa("min-width", 100px);
  @include resa("height", 100px);
}

.headerListItemInner {
  width: 100%;
  height: 100%;
  @include resa("border-radius", 18px);
  position: relative;
  background: linear-gradient(0deg, #6f49fe, #6f49fe), linear-gradient(0deg, #8183f8, #8183f8),
    linear-gradient(0deg, #3680ff, #3680ff);
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    @include resa("border-radius", 18px);
  }
  h3 {
    font-weight: 600;
    @include resa("line-height", 14px);
    @include resa("font-size", 12px);
    text-align: left;
    color: #ffffff;
    position: absolute;
    @include resa("bottom", 10px);
    @include resa("left", 10px);
    z-index: 2;
    @include resa("max-width", 74px);
  }
}

.goalContent {
  @include resa("padding-right", 16px);
  @include resa("padding-left", 16px);
}

.goalTop {
  @include resa("margin-top", 16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include resa("padding-right", 1px);
  @include resa("padding-left", 1px);
  @include resa("margin-bottom", 16px);
}

.goalTopTitle {
  font-weight: 600;
  @include resa("line-height", 24px);
  @include resa("font-size", 20px);
  text-align: left;
  color: #040415;
}

.goalTopButton {
  display: flex;
  align-items: center;
  @include resa("gap", 4px);
  color: #367ffd;
  font-family: Manrope;
  font-weight: 600;
  @include resa("font-size", 12px);
  @include resa("line-height", 16px);
  @include resa("letter-spacing", 0.32px);
  text-align: left;
}

.goalList {
  display: flex;
  flex-direction: column;
  @include resa("gap", 8px);
}

.goalListItem {
  background: #ffffff;
  @include resa("padding-right", 16px);
  @include resa("padding-left", 16px);
  @include resa("padding-top", 12.5px);
  @include resa("padding-bottom", 12.5px);
  @include resa("border-radius", 20px);
}

.goalListItemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include resa("margin-bottom", 10px);
  svg {
    @include resa("height", 11px);
    @include resa("width", 7px);
  }
  h3 {
    font-weight: 600;
    @include resa("font-size", 16px);
    @include resa("line-height", 20px);
    text-align: left;
    color: #040415;
  }
}

.goalListItemStatistics {
  display: flex;
  align-items: center;
  svg {
    @include resa("margin-right", 8px);
    @include resa("width", 16px);
    @include resa("height", 16px);
  }
  span {
    font-weight: 500;
    @include resa("font-size", 12px);
    @include resa("line-height", 14.56px);
    text-align: left;
    color: #828da1;
    &.goalListItemIncome {
      color: #23af20;
      @include resa("margin-left", 4px);
    }
  }
}

.goalListItemLine {
  width: 100%;
  @include resa("height", 1px);
  @include resa("margin-top", 10px);
  @include resa("margin-bottom", 10px);
  background: #040415;
  opacity: 0.05;
}

.goalItemBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goalItemFeatures {
  display: flex;
  @include resa("gap", 5px);
}

.goalItemFeaturesBox {
  @include resa("border-radius", 40px);
  @include resa("padding-right", 11px);
  @include resa("padding-left", 11px);
  @include resa("padding-top", 7.5px);
  @include resa("padding-bottom", 7.5px);
  background-color: #f5f7fa;
  color: #828da1;
  font-weight: 500;
  @include resa("font-size", 12px);
  @include resa("line-height", 14.56px);
  text-align: left;
  span {
    @include resa("margin-left", 4px);
  }
}

.goalItemExtra {
  display: flex;
  align-items: center;
  @include resa("gap", 5px);
  font-weight: 500;
  @include resa("font-size", 12px);
  @include resa("line-height", 14.56px);
  text-align: left;
  color: #828da1;
}
